%article
  %p
    How to do a large site.
    #{client_name}: Repackagaing an existing product for new market.
    We had knowledge on both sides of domain and tech.
    #{client_name} had domain knowledge.
    #{company_name} had agile-practice &amp; technical knowledge.
    We had to bring a lot of people together.
    We had to this quickly.
    Often when you work with large teams/expansion, often the end-goal gets foggy. //waking skeleton
    As a quick inspection and to get everyone on the same page, so we built this skeleton.
    This gave a lot of areas that we could expand upon. Ability to work in parellel.

  %p
    Continuous testing is important. // continuous delivery
    The entire stack is important, but how do you build in parallel to keep velocity?
    Maintaining a healthy product.
    Automated regression testing saves time:
    A). You know if you're on the right track.
    B). You know it quickly without manual checking.
    Putting the business at the button.

  %p
    In order to have an evolving product, you need an evolving architecture...
    So let's talk about that architecture.
    Architecture: As other dependencies come to completetion.

  %p
    Overall UX is performance * design.
    2 design challenges.
    %ol
      %li
        Cross-device, Multiple Platforms (unknown platforms).
        %ul
          %li What does it take?
          %li How it done?
      %li
        Brand Identity meets Product Design.
        %ul
          %li This is a product / an application, not a microsite.
          %li Performance, Accessibility and behaviors are all important.
          %li So how do you create this bridge?

  %p
    Close with knowledge sharing.
    What does it come down to?
    Being able/willing to collaborate.
    Continuous Close Collaboration - therefore continuously improving
    Collaborative.
    Close - co-located, in proximity or via video.
    Value propisition of each page.
    Transformation by doing.
    Transformation by collaboration.
    Team integration.
    Immediately started pairing for day-1.
