@mixin link {
  @include transition( color 0.2s );
  &, &:visited { color: $link-color; }
  &:hover { color: $link-hover-color; }
} // @mixin link

@mixin nav-link {
  @include bevel( horizontal );
}

%navigation-link {
  display: inline-block;
  text-align: center;
  @include bevel($direction:horizontal);
  &:first-of-type a { padding-left: 0; }
  &:last-of-type a { padding-right: 0; }
  a {
    display: block;
    padding: 0 .5em; }
}//@mixin