%article
  %h2 Evolutionary Architecture

  %p
    In an evolving tech-stack, the Tech-stack evolves, but the archiecture remains similar.
    Services evolve, CMS evolves, the protocols evolve.
    We must always keep a working version in place.
    How do you do that?
    Start with the simpliest version first, then repalce that with a better system.

  %h3 Early performance Testing
  %p New Relic. Are we ready for anticipated growth? 3,6,9 months from now?

  %h3 Fake CMS Example
  = ipsum(2)