%article
  %h1 Continuous Delivery

  %p
    With 2-people you're not gaining much from continuous delivery.
    12-people? Well that's a different story.
    CD gives a consistent health check.
    Drive the product towards the business' ability to launch.
    A lot of things are mid-development during the walking skeleton.


  %h2 Account vs. Checkout
  %p
    Even though 1 isn't complete, they can both make progress.
    CD allows us to see if we were breaking something on the other end,
    even though they weren't already hooked up.

  %h2 Anti-climactic Launches
  %p
    The ultimate deployment was just changing URLS. We had already deployed 100's of times.