- content_for :title do
  Design Collabortion
- content_for :body_id do
  design-collabortion-page

%article
  %h2 Brand Identity Meets Product Design
  %p
    Brand Identity Owned by Marketing is often a challenge.
    Marketing is concerned with brand.
    Deisgn side-by-sides over skype to help bridge the gap between marketing-owned branding.

  %p
    They come from brand design. Brand design and Product design are different.
    They often don't understand technical needs. How software behaves, how smooth/fast it is?
    Once you have brand identity, the next step is to have execute those in person.

%hr

%nav
  %h2 Articles by #{company_name} Experience Designers
  %ul
    %li
      %a{href:"#little-victories"} Little Victories By Coleman Collins
    %li
      %a{href:"#never-stop-sketching"} Never Stop Sketching By Emily Luke

%hr

= render "pages/little_victories"
%hr
= render "pages/never_stop_sketching"
