%article
  %h2 Brand Identity Meets Product Design
  %p
    Brand Identity Owned by Marketing is often a challenge.
    Marketing is concerned with brand.
    Deisgn side-by-sides over skype to help bridge the gap between marketing-owned branding.

  %p
    They come from brand design. Brand design and Product design are different.
    They often don't understand technical needs. How software behaves, how smooth/fast it is?
    Once you have brand identity, the next step is to have execute those in person.

  %h3 Experience = Performance * Design.
  = ipsum (2)

  %h3 Side-by-side Design
  %p With side-by-sides we aid the knowledge share and bridge the gap.
  = ipsum(1)

  %h3 Coleman's my.tw post
  = ipsum(3)

  %figure.gotye.yesgotye