%article
  %h2 Responsive Design
  = ipsum(1)

  %h3 Cross-channel vs multi-channel
  = ipsum(1)

  %h3 Technical execution of responsive UI

  %h4 Stylesheet File Structure (Applied in order)
  %ul.file-tree
    %li Base
    %li Color Palette
    %li Typography
    %li Elements
    %li UI Elements
    %li View Specific Stylesheets
    %li Media Queries

  %h4 Separation of Visual and Positional Style
  %p
    We tried to apply
    %a{href:"http://thesassway.com/intermediate/a-standard-module-definition-for-sass"}
      a standard module for sass
    by separating out our visual and positional styles.
    The goal was to simplify the view-specific stylesheets and make media query scoping easier and maintainable.

  %h5 Visual Styles
  %p
    Visual styles are defined in the base, elements, and UI elements files.
    Their scope is controlled with the use of mixins, variables and extendable classes.

  %h5 Positional Styles
  %p
    Positional styles are defined in view-specific stylesheets.
    Properties like height, line-height, width, gutters(padding/margin)
    are all driven by variables to keep control of the UI and allow for easy continuous design.
    If a layout-pattern needs to be reused, then that layout-pattern should be extracted into a reusable module.

  %h5 Benefits
  %ul
    %li Visual style can be changed on a global scale from control points.
    %li View-speicifc stylesheets contain simplified-markup as they primarily define only layout.
    %li The layout is driven by variables, creating self-documenting code, increasing readabiliy and decreasing css-positional-gotchas.
    %li Enhanced readability and decreased complexity in view-specific stylesheets enables maintainable media-query scoping in enterprise applications.

  %h5 Challenges
  %p
    Descipline to create seemly-trivial variables out of some heights/widths.
    Many times these variables had no immediate purpose.
    As the product grew, the benefits became more and more clear.
    An open-source example of positional simplicity from seemly-trivial variables:
    %a{href: "https://github.com/moredip/symbiote/blob/master/bundle/stylesheets/sass/_layout.scss"} Symbiote.

  %h4 Scoping Media Queries
  %p
    Media queries are scoped at the bottom of view-specific stylesheet.
    This allows the stylesheet author to keep their modifications and changes specific to that view.
    The media-query mixin is then included in the rwd file as a 1-line include.
    The result was a growing, but flexible/maintainable rwd file of 1-line includes.

  %h3 Javascript resize listeners (booo)
  %p
    Callbacks are expensive. How do you limit the call-backs?
    A crafty/effective solution was reached.
