%article
  %h1 Responsive Design

  %p
    What practices do we use to keep it consistent across?

  %h2 Cross-channel vs multi-channel
  = ipsum(2)

  %h2 Technical execution of responsive UI
  = ipsum(3)

  %figure.placeholder

