%article
  %h1 Walking Skeleton

  %p
    As a quick inspection and to get everyone on the same page, we build this skeleton.
    This gave a lot of areas that we could expand upon.

  %figure.placeholder

  %h2 What is a walking skeleton?
  = ipsum(3)