//-------------------------------------------
// global layout and layout variables.

$max-width: 1024px;
$gutter: 20px;

#container {
  max-width: $max-width;
  margin: 0 auto;
  @include main-container-style;
}

#main-header, #main, #main-footer {
  padding-right: $gutter;
  padding-left: $gutter;
}

#main {
  padding-top: $gutter;
  padding-bottom: $gutter;
  border-bottom: $bevel-dark-border;
  ul { padding-bottom: $gutter; }
}

p { padding-bottom: $gutter; }

hr { margin: $gutter 0; }