%footer#main-footer
  %nav#footer-navigation
    %ul
      %li>
        %a{href: "#{company_url}"}= company_full_name
      - if client_nda != true
        %li>
          %a{href: "#{client_url}"}= client_name